<div class="container-fluid">
  <div class="row">
           <div class="col-lg-2">
             <img src="assets/logo.webp" alt="" class="logo">
           </div>
           <div class="col-lg-7">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Audio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Peripherals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Accessories</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Smart Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Personal Gromming</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Surveillance</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Health Care</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Support</a>
              </li>
            </ul>        
          </div>
          <div class="col-lg-3">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="assets/search.png" alt="" class="img1"> </a>   
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="assets/bag.png" alt="" class="img1"> </a>   
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="assets/user.png" alt="" class="img1"> </a>   
              </li>
              </ul>
              </div>
          </div>
          <div class="row">
           <div class="col-lg-12">  
                  <img src="assets/zeb.png" alt="" class="home">
           </div>
          </div>
          <div class="row">
            <div class="col-lg-12">  
                  <h2>TRENDING CATEGORIES</h2>
            </div>
           </div>
           <div class="row">
            <div class="col-lg-1">  
                  
            </div>
            <div class="col-lg-2">  
                  <img src="assets/1.2.jfif" alt="" class="wa">
                  <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-2">  
              <img src="assets/1.2.jfif" alt="" class="wa">
              <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-2">  
                  <img src="assets/1.2.jfif" alt="" class="wa">
                  <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-2">  
              <img src="assets/1.2.jfif" alt="" class="wa">
              <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-2">  
                  <img src="assets/1.2.jfif" alt="" class="wa">
                  <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-1">  
                  
            </div>
           </div>
           <div class="row">
            <div class="col-lg-1">  
                  
            </div>
            <div class="col-lg-2">  
                  <img src="assets/1.2.jfif" alt="" class="wa">
                  <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-2">  
              <img src="assets/1.2.jfif" alt="" class="wa">
              <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-2">  
                  <img src="assets/1.2.jfif" alt="" class="wa">
                  <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-2">  
              <img src="assets/1.2.jfif" alt="" class="wa">
              <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-2">  
                  <img src="assets/1.2.jfif" alt="" class="wa">
                  <h5 class="text">SmartWatches</h5>
            </div>
            <div class="col-lg-1">  
                  
            </div>
           </div>

           <div class="row">
            <div class="col-lg-12">  
                  <h2>TRENDING PRODUCTS</h2>
            </div>
           </div>

           <div class="row">
             <div col-lg-2>
                   <img src="assets/ear.webp" alt="">
             </div>
           </div>
           <div class="row">
            <div col-lg-2>
              <img src="assets/trim.webp" alt="">
            </div>
          </div>
            <div class="row">
              <div col-lg-8>
                <img src="assets/12.webp" alt="" class="long">
               </div>
            </div>
            
            <div class="row" style="margin-left: 659px; margin-top: -600px;">
              <div col-lg-2>
                    <img src="assets/ear.webp" alt="">
              </div>
            </div>
            <div class="row" style="margin-left: 996px; margin-top: -290px;">
              <div col-lg-2>
                    <img src="assets/im1.webp" alt="">
              </div>
            </div>
            <div class="row" style="margin-left: 660px; margin-top: 2px;">
              <div col-lg-2>
                    <img src="assets/large.webp" alt="" class="large">
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">  
                    <h2>JUST LAUNCHED</h2>
              </div>
             </div>

             <div class="row" style="">
              <div class="col-lg-3 col-md-12 col-12">
                <img src="assets/sp.webp" style="height:304px; margin-left:30px;"><br>
                <p style="margin-left: 100px;  font-family: sans-serif;">'Candy' Flowerpot</p>
                <p style="margin-left: 100px;  font-family: sans-serif;">'Candy' Flowerpot</p>
                <p style="margin-left: 150px; font-family: sans-serif;">$59.99</p>
              </div>
              <div class="col-lg-3 col-md-12 col-12">
                 <img src="assets/neck.webp" style="height:304px; margin-left:25px;"><br>
                  <p style="margin-left: 100px;  font-family: sans-serif;">'Candy' Flowerpot</p>
                  <p style="margin-left: 100px;  font-family: sans-serif;">'Candy' Flowerpot</p>
                <p style="margin-left: 150px; font-family: sans-serif;">$59.99</p>
                <img src="assets/neck.webp" style="height:30px; margin-left:25px; border: 2px solid skyblue; border-radius: 2px;">
                <img src="assets/neck.webp" style="height:30px; margin-left:25px;">
                <img src="assets/neck.webp" style="height:30px; margin-left:25px;">
                <img src="assets/neck.webp" style="height:30px; margin-left:25px;">
              </div>
              <div class="col-lg-3 col-md-12 col-12">
                 <img src="assets/tv.webp" style="height:304px;margin-right:10px;"><br>
                 <p style="margin-left: 100px;  font-family: sans-serif;">'Candy' Flowerpot</p>
                 <p style="margin-left: 100px;  font-family: sans-serif;">'Candy' Flowerpot</p>
                  <p style="margin-left: 120px; font-family: sans-serif;">$59.99</p>
              </div>
              <div class="col-lg-3 col-md-12 col-12">
                 <img src="assets/im4.webp" style="height:304px;margin-left:-20px;">
                 <p style="margin-left: 100px;  font-family: sans-serif;">'Candy' Flowerpot</p>
                  <p style="margin-left: 100px;  font-family: sans-serif;">'Candy' Flowerpot</p>
                <p style="margin-left: 100px; font-family: sans-serif;">$59.99</p>
                <img src="assets/im4.webp" style="height:30px; margin-left:25px; border: 2px solid skyblue; border-radius: 2px;">
                <img src="assets/im4.webp" style="height:30px; margin-left:25px;">
                <img src="assets/im4.webp" style="height:30px; margin-left:25px;">
              </div>
          </div>
          <div class="row">
            <div class="col-lg-12">  
                  <h3>GADGET GUIDE</h3>
                  <h5>Check out our curated collections with best deals & discounts, specially for you.</h5>
            </div>
           </div>
           
           <div class="row">
            <div class="col-lg-4">  
              <div class="card" style="width:400px; margin-left: 30px;">
                <img class="card-img-top" src="assets/im4.webp" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Indulge into a theatre-like experience at home with Projectors & Soundbars</p>
                  <a href="#" class="btn btn-primary">Check it out</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">  
              <div class="card" style="width:400px">
                <img class="card-img-top" src="assets/im4.webp" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Indulge into a theatre-like experience at home with Projectors & Soundbars</p>
                  <a href="#" class="btn btn-primary">Check it out</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">  
              <div class="card" style="width:400px">
                <img class="card-img-top" src="assets/im4.webp" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">John Doe</h4>
                  <p class="card-text">Indulge into a theatre-like experience at home with Projectors & Soundbars</p>
                  <a href="#" class="btn btn-primary">Check it out</a>
                </div>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="col-lg-4">  
              <div class="card" style="width:400px; margin-left: 30px;margin-top: 20px;">
                <img class="card-img-top" src="assets/im4.webp" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">BIG Screen Entertainment</h4>
                  <p class="card-text">Indulge into a theatre-like experience at home with Projectors & Soundbars</p>
                  <a href="#" class="btn btn-primary">Check it out</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">  
              <div class="card" style="width:400px;margin-top: 20px;">
                <img class="card-img-top" src="assets/im4.webp" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">BIG Screen Entertainment</h4>
                  <p class="card-text">Indulge into a theatre-like experience at home with Projectors & Soundbars</p>
                  <a href="#" class="btn btn-primary">Check it out</a>
                </div>
              </div>
            </div>
            <div class="col-lg-4">  
              <div class="card" style="width:400px;margin-top: 20px;">
                <img class="card-img-top" src="assets/im4.webp" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">BIG Screen Entertainment</h4>
                  <p class="card-text">Indulge into a theatre-like experience at home with Projectors & Soundbars</p>
                  <a href="#" class="btn btn-primary">Check it out</a>
                </div>
              </div>
            </div>
           </div>

           <div class="row">
            <div class="col-lg-12">  
                  <h3>@ FOLLOW US ON</h3>
                  <p class="insta">INSTAGRAM</p>
            </div>
           </div>

           <div class="row">
            <div class="col-lg-1">  
              
            </div>
            <div class="col-lg-2">  
                 <img src="assets/1.2.jfif" alt="" class="wa" style="margin-left: 20px;">  
            </div>
            <div class="col-lg-2">  
                   <img src="assets/1.2.jfif" alt="" class="wa" style="">
            </div>
            <div class="col-lg-2">  
              <img src="assets/1.2.jfif" alt="" class="wa" style="margin-left: -20px;">  
         </div>
         <div class="col-lg-2">  
                <img src="assets/1.2.jfif" alt="" class="wa" style="margin-left: -40px;">
         </div>
              <div class="col-lg-2">  
               <img src="assets/1.2.jfif" alt="" class="wa" style="margin-left: -60px;">
            </div>
            <div class="col-lg-1">  
              
            </div>
           </div>
           <h6 style="margin-top: 80px; margin-left:60px;">
            Zebronics: Premium for masses.
           </h6>
           <p style="margin-left:60px;">
            Revolutionizing technology for the masses, incorporating Excellence, Quality and Reliability in products range, be it Soundbars | Home Theatres | Headphones | Earphones | TWS | Gaming Cabinets | Monitor | Keyboards | Mouse | IT & Work from Home Peripherals | Power Banks | Computer / Mobile & Laptop Accessories | Fitness Bands | Smart Watch | CCTV | Smart Home Automation | Oximeters | Power UPS with best price, brand warranty and after-sales support. Since 1997.

           </p>

           <div class="row" style="background-color: white;">

            <div class="col-lg-3" style="padding-left: 40px;padding-right: 15px;padding-bottom: 45px;">
               <h6 style="color: black; margin-top: 32px; margin-left: 32px;">Menu</h6>
               <ul style="list-style-type: none;">
                   <li style="color: black;font-size: 12px;">Veg Pizza</li>
                   <li style="color: black;font-size: 12px;font-size: 12px;">Chicken Pizza</li>
                   <li style="color: black;font-size: 12px;">Pasta</li>
                   <li style="color: black;font-size: 12px;">Pizza Crust</li>
                   <li style="color: black;font-size: 12px;">Beverages</li>
                   <li style="color: black;font-size: 12px;">Pizza Mania</li>
                   <li style="color: black;font-size: 12px;">Burger Pizza</li>
               </ul>
            </div>

            <div class="col-lg-3" style="padding-left: 40px;padding-right: 15px;padding-bottom: 45px;">
                <h6 style="color: black; margin-top: 32px;margin-left: 32px;">COMPANY</h6>
                <ul style="list-style-type: none;">
                   <li style="color: black;font-size: 12px;">Blog</li>
                   <li style="color: black;font-size: 12px;">Investor</li>
                   <li style="color: black;font-size: 12px;">FeedBack</li>
                   <li style="color: black;font-size: 12px;">Ads</li>
               </ul>
            </div>

            <div class="col-lg-3" style="padding-left: 40px;padding-right: 15px;padding-bottom: 45px;">
                <h6 style="color: black; margin-top: 32px;margin-left: 32px;">PIZZA RESTAURANTS</h6>
                <ul style="list-style-type: none;">
                   <li style="color: black;font-size: 12px;">Restaurants Near Me</li>
                   <li style="color: black;font-size: 12px;">Pizza Near Me</li>
                   <li style="color: black;font-size: 12px;">Food Near Me</li>
                   <li style="color: black;font-size: 12px;">Food Delivery</li>
                   <li style="color: black;font-size: 12px;">Italian Food</li>
                   <li style="color: black;font-size: 12px;">Order Food Online</li>
               </ul>
            </div>

            <div class="col-lg-3" style="padding-left: 50px;padding-right: 20px;padding-bottom: 45px;">
              <h6 style="color: black; margin-top: 32px;margin-left: 32px;">Stay Connected</h6>
              <ul style="list-style-type: none;">
                 <li style="color: black;font-size: 12px;">Subscribe to get latest product launches, offers, exclusive news.</li>
                 
                  <div class="search-container" style="margin-right: -30px;">
                    <form action="/action_page.php">
                      <input type="text" placeholder="Email" name="search" style="">
                      <button type="submit"  class="btn btn-primary">Submit</button>
                    </form>
                  </div>
                 
                              <img src="assets/fb.png" style="margin-left:20px;height: 20px;width: 20px;" @nbsp;@nbsp;@nbsp;>
                              <img src="assets/twitter.png"  style="height: 20px;width: 20px;"@nbsp;@nbsp;@nbsp;>
                              <img src="assets/instagram.png"  style="height: 20px;width: 20px;"@nbsp;@nbsp;@nbsp;>
                              <img src="assets/fb.png"  style="height: 20px;width: 20px;" @nbsp;@nbsp;@nbsp;>
                              <img src="assets/twitter.png"  style="height: 20px;width: 20px;">
             </ul>
          </div>



  
      </div>
      <div class="row">
        <div class="col-lg-6" style="background-color:black;"><img src="assets/logo.webp" alt="" class="logo"></div>
          <div class="col-lg-6" style="background-color:black;">
              <p style="font-size: 11px; text-align: left; font:sans-serif; color: white; margin-left: -400px; margin-top: 50px;">© 2010 - 2021 Zebronics India Pvt. Ltd.® All Rights Reserved</p>
          </div>
      </div>

</div>